.genres {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.genres span {
    transition: 0.1s;
    background: #ffffff;
    color: #4f46e5;
    border: 1px solid #c7d2fe;
    border-radius: 999px;

    padding: 6px 10px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.genres span:hover {
    transform: scale(1.15);
    transition: 0.1s;
    background: #e0e7ff;
}
