.user-info {
    display: flex;
    align-items: center;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
}

.user-info .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    background: #441d1d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}

.user-info .name {
    font-size: 16px;
    margin-left: 10px;
}